---
const { src } = Astro.props;
---

<div class="bg-white/20 w-16 h-16 rounded-full p-[6px]">
  <div class="rounded-full w-full h-full overflow-hidden">
    <img
      src={src}
      alt="Google Podcasts"
      class="h-full opacity-70 object-cover"
    />
  </div>
</div>
